*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main aside{
    background-color: rgb(15, 219, 234);
}
body{
    background-color: aquamarine;
}
main article{
    background-color: blue;
}
p{
    color: darkgoldenrod;
    background-color: white;
} 